body {
    background-color: whitesmoke;
}
/* .card-image{
    padding: 35px;
} */
.container-show {
    margin: 0 20px 10px 20px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.CourseCard{
    padding-bottom: 20px;
    margin: 0px 200px;
}
.courses-main{
    text-align: center;
    padding: 5x;
    font-size: 2.4em;
}
/* .createCourse{
    padding: 20px;
} */
.backTo{
    margin: 10px;
    margin-left: 40px;
}